:root {
    --bg0: #f4f4f4;
    --fg1: #030303;
}

body {
    font-family: monospace;
    background-color: var(--bg0);
    color: var(--fg1);
    margin: 10% 10% 0 10%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sum-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

h1 {
    font-size: 20px;
}

span.name {
    color: var(--blue4);
}

span.detail {
    font-variant-ligatures: none;
    color: var(--aqua6);
}

img {
    object-fit: contain;
}